# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Docker-specific files
.dockerignore
